/*Classes*/
.roxao{
    background-color: #b8abdb;
}

.pezinho{
    width: 100%;
    background-color: #bebebe;
    border-top: 2px solid #9b9b9b;
    text-align: center;
    padding: 20px;
}

.iconsFooter{
    color: #707070;
}

/*Margens*/
.mgT-3{
    margin-top: 3%;
}

.mgB-3{
    margin-bottom: 3%;
}

.mgL-3{
    margin-left: 3%;
}

.mgL-6{
    margin-left: 6%;
}

.mgL-42{
    margin-left: 42%;
}

.mgR-6{
    margin-right: 6%;
}